<%= simple_form_for(@slot) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :occupied %>
  </div>

  <div class="form-inputs">
    <%= f.input :level_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
