<%= simple_form_for(@level) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :number %>
    <%= f.input :num_slots %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
