<p id="notice"><%= notice %></p>

<h1>Listing Levels</h1>

<%= button_to "Add a new Level", { action: "create" }, { class: 'btn btn-default' } %>

<% @levels.each do |level| %>
  <h2 class="page-header">
    Level <%= level.number %>
    <%= link_to raw('<i class="fa fa-trash"></i>'), level, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
    <%= button_to [:create_slot, level], { class: 'btn btn-default btn-xs' } do %>
     Add a new Slot
    <% end %>
  </h2>
  <div class="row">
    <% level.slots.each_with_index do |slot, index| %>
      <div class="col-md-3">
        <div class="panel panel-<%= slot_class(slot) %>">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= "Slot ##{index+1}" %>
              <%= link_to raw('<i class="fa fa-trash"></i>'), slot, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs' %>
            </h3>
          </div>
          <div class="panel-body">
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
