<p id="notice"><%= notice %></p>

<p>
  <strong>Parked:</strong>
  <%= @vehicle.parked %>
</p>

<p>
  <strong>Vehicle Type:</strong>
  <%= @vehicle.veh_type %>
</p>

<p>
  <strong>Licence Plate:</strong>
  <%= @vehicle.lic_plate %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
